__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
*.so
*.egg
*.egg-info
dist/
build/
.git
.gitignore
.env
.venv
*.sqlite3
db.sqlite3
media/
staticfiles/
.DS_Store
*.log
coverage/
.pytest_cache/
.mypy_cache/
.vscode/
.idea/

